<div class="content-body">
	<div class="title-main">		
		<span>Mantenimiento de charlas</span>
	</div>	
	<div class="box-wrap">
		<div class="filter-data">
		<div class="pull-left">
			<div class="form-inline">
				<div class="form-group">
					<input type="text" name="" class="form-control" placeholder="Búsqueda...">
					<select name="" class="form-control">
						<option>Horarios</option>
						<option>01</option>
						<option>02</option>
						<option>03</option>
					</select>							
				</div>				
				<button type="submit" class="btn-search">Buscar</button>
			</div>
		</div>
		<div class="pull-right">
			<button type="submit" class="btn-agregar" data-toggle="modal" data-target="#myModal">
				<span>+</span> Agregar
			</button>
		</div>
		</div>		
		<div class="table-grilla">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Nombre de la charla</th>
						<th>Horario</th>
						<th>Ubicación</th>
						<th>Expositores</th>
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							Lorem impsum dolor sit amet, consectueter adipiscing	
						</td>
						<td>09:00 h - 10:00 h</td>
						<td>Sala 1</td>
						<td>
						<div class="expositor">
							<span class="foto-exp exp-col">
								<span class="user">
									<img src="../Content/images/system/foto.jpg">
								</span>
							</span>
							<span class="name-exp exp-col">Omar Guy La Torre</span>
							<span class="mas-exp exp-col comp-btn-user">
								<span id="btnGroupDrop3" class="btn-exp dropdown-toggle" data-toggle="dropdown">2 Más...</span>
								<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="btnGroupDrop3">
									<li>
										<span class="item-exp-drop">
											<span class="img-exp">
												<span>
													<img src="../Content/images/system/foto.jpg">
												</span>
											</span>
											<span class="name-exp">Fernando Mateo de Breuer</span>
										</span>
									</li>
									<li>
										<span class="item-exp-drop">
											<span class="img-exp">
												<span>
													<img src="../Content/images/system/foto.jpg">
												</span>
											</span>
											<span class="name-exp">Angel Villanueva</span>
										</span>
									</li>
								</ul>
							</span>
						</div>
						</td>
						<td class="controls">
							<div class="box-2-icon-grid">
								<button class="control-table nav_ajx" href="#">
									<i class="edit"  data-toggle="tooltip" data-placement="top" title="Editar"></i>
								</button>
								<button class="control-table">
									<i class="delete"  data-toggle="tooltip" data-placement="top" title="Eliminar"></i>
								</button>
								<button class="control-table">
									<i class="view"  data-toggle="tooltip" data-placement="top" title="Visualizar"></i>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							Lorem impsum dolor sit amet, consectueter adipiscing	
						</td>
						<td>09:00 h - 10:00 h</td>
						<td>Sala 1</td>
						<td>
						<div class="expositor">
							<span class="foto-exp exp-col">
								<span class="user">
									<img src="../Content/images/system/foto.jpg">
								</span>
							</span>
							<span class="name-exp exp-col">Omar Guy La Torre</span>
							<span class="mas-exp exp-col comp-btn-user">
								<span id="btnGroupDrop3" class="btn-exp dropdown-toggle" data-toggle="dropdown">2 Más...</span>
								<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="btnGroupDrop3">
									<li>
										<span class="item-exp-drop">
											<span class="img-exp">
												<span>
													<img src="../Content/images/system/foto.jpg">
												</span>
											</span>
											<span class="name-exp">Fernando Mateo de Breuer</span>
										</span>
									</li>
									<li>
										<span class="item-exp-drop">
											<span class="img-exp">
												<span>
													<img src="../Content/images/system/foto.jpg">
												</span>
											</span>
											<span class="name-exp">Angel Villanueva</span>
										</span>
									</li>
								</ul>
							</span>
						</div>
						</td>
						<td class="controls">
							<div class="box-2-icon-grid">
								<button class="control-table nav_ajx" href="#">
									<i class="edit"  data-toggle="tooltip" data-placement="top" title="Editar"></i>
								</button>
								<button class="control-table">
									<i class="delete"  data-toggle="tooltip" data-placement="top" title="Eliminar"></i>
								</button>
								<button class="control-table">
									<i class="view"  data-toggle="tooltip" data-placement="top" title="Visualizar"></i>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							Lorem impsum dolor sit amet, consectueter adipiscing	
						</td>
						<td>09:00 h - 10:00 h</td>
						<td>Sala 1</td>
						<td>
						<div class="expositor">
							<span class="foto-exp exp-col">
								<span class="user">
									<img src="../Content/images/system/foto.jpg">
								</span>
							</span>
							<span class="name-exp exp-col">Omar Guy La Torre</span>
							<span class="mas-exp exp-col comp-btn-user">
								<span id="btnGroupDrop3" class="btn-exp dropdown-toggle" data-toggle="dropdown">2 Más...</span>
								<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="btnGroupDrop3">
									<li>
										<span class="item-exp-drop">
											<span class="img-exp">
												<span>
													<img src="../Content/images/system/foto.jpg">
												</span>
											</span>
											<span class="name-exp">Fernando Mateo de Breuer</span>
										</span>
									</li>
									<li>
										<span class="item-exp-drop">
											<span class="img-exp">
												<span>
													<img src="../Content/images/system/foto.jpg">
												</span>
											</span>
											<span class="name-exp">Angel Villanueva</span>
										</span>
									</li>
								</ul>
							</span>
						</div>
						</td>
						<td class="controls">
							<div class="box-2-icon-grid">
								<button class="control-table nav_ajx" href="#">
									<i class="edit"  data-toggle="tooltip" data-placement="top" title="Editar"></i>
								</button>
								<button class="control-table">
									<i class="delete"  data-toggle="tooltip" data-placement="top" title="Eliminar"></i>
								</button>
								<button class="control-table">
									<i class="view"  data-toggle="tooltip" data-placement="top" title="Visualizar"></i>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							Lorem impsum dolor sit amet, consectueter adipiscing	
						</td>
						<td>09:00 h - 10:00 h</td>
						<td>Sala 1</td>
						<td>
						<div class="expositor">
							<span class="foto-exp exp-col">
								<span class="user">
									<img src="../Content/images/system/foto.jpg">
								</span>
							</span>
							<span class="name-exp exp-col">Omar Guy La Torre</span>
							<span class="mas-exp exp-col comp-btn-user">
								<span id="btnGroupDrop3" class="btn-exp dropdown-toggle" data-toggle="dropdown">2 Más...</span>
								<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="btnGroupDrop3">
									<li>
										<span class="item-exp-drop">
											<span class="img-exp">
												<span>
													<img src="../Content/images/system/foto.jpg">
												</span>
											</span>
											<span class="name-exp">Fernando Mateo de Breuer</span>
										</span>
									</li>
									<li>
										<span class="item-exp-drop">
											<span class="img-exp">
												<span>
													<img src="../Content/images/system/foto.jpg">
												</span>
											</span>
											<span class="name-exp">Angel Villanueva</span>
										</span>
									</li>
								</ul>
							</span>
						</div>
						</td>
						<td class="controls">
							<div class="box-2-icon-grid">
								<button class="control-table nav_ajx" href="#">
									<i class="edit"  data-toggle="tooltip" data-placement="top" title="Editar"></i>
								</button>
								<button class="control-table">
									<i class="delete"  data-toggle="tooltip" data-placement="top" title="Eliminar"></i>
								</button>
								<button class="control-table">
									<i class="view"  data-toggle="tooltip" data-placement="top" title="Visualizar"></i>
								</button>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							Lorem impsum dolor sit amet, consectueter adipiscing	
						</td>
						<td>09:00 h - 10:00 h</td>
						<td>Sala 1</td>
						<td>
						<div class="expositor">
							<span class="foto-exp exp-col">
								<span class="user">
									<img src="../Content/images/system/foto.jpg">
								</span>
							</span>
							<span class="name-exp exp-col">Omar Guy La Torre</span>
							<span class="mas-exp exp-col comp-btn-user">
								<span id="btnGroupDrop3" class="btn-exp dropdown-toggle" data-toggle="dropdown">2 Más...</span>
								<ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="btnGroupDrop3">
									<li>
										<span class="item-exp-drop">
											<span class="img-exp">
												<span>
													<img src="../Content/images/system/foto.jpg">
												</span>
											</span>
											<span class="name-exp">Fernando Mateo de Breuer</span>
										</span>
									</li>
									<li>
										<span class="item-exp-drop">
											<span class="img-exp">
												<span>
													<img src="../Content/images/system/foto.jpg">
												</span>
											</span>
											<span class="name-exp">Angel Villanueva</span>
										</span>
									</li>
								</ul>
							</span>
						</div>
						</td>
						<td class="controls">
							<div class="box-2-icon-grid">
								<button class="control-table nav_ajx" href="#">
									<i class="edit"  data-toggle="tooltip" data-placement="top" title="Editar"></i>
								</button>
								<button class="control-table">
									<i class="delete"  data-toggle="tooltip" data-placement="top" title="Eliminar"></i>
								</button>
								<button class="control-table">
									<i class="view"  data-toggle="tooltip" data-placement="top" title="Visualizar"></i>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pagination-grid int">
			<ul class="pagination">
				<li class="disabled">
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">Anterior</span>
					</a>
				</li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
				<li><a href="#">7</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">Siguiente</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>



<script type="text/javascript">

	$(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});

</script>