<div class="content-body">
	<div class="title-main">
		<div class="accion-title">
			<button id="" href="#" class="btn-volver" type="button">Volver al listado</button>
		</div>
		<span>Notificaciones</span><span class="line-view">/</span><span class="view-active">Detalle de notificaciones</span>
	</div>	
	<div class="box-wrap">
		<div class="filter-data">
			<div class="pull-left">
				<div class="sub-title">
					Información de la notificación
				</div>
			</div>
			<div class="pull-right">
				<label class="activar-pro">Solo push: <input type="checkbox" name=""></label>
			</div>
		</div>	
		<div class="box-form line-foot">
			<div class="row">
		  		<div class="col-sm-3">
		  			<div class="form-group">
		  				<label>Nombre o titulo de la notificación:</label>
		  				<input type="text" name="value" class="form-control">
		  			</div>
		  		</div>
		  		<div class="col-sm-3">
		  			<div class="form-group">
		  				<label>Adjuntar imagen:</label>
		  				<input type="file" name="value" class="form-control">
		  			</div>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col-sm-12">
		  			<div class="form-group">
		  				<label>Contenido de la notificación</label>
		  				<textarea class="form-control" rows="3"></textarea>
		  			</div>
		  		</div>
		  	</div>
		</div>
		<div class="filter-data">
			<div class="pull-left">
				<div class="sub-title">
					Programación de notificación
				</div>
			</div>
			<div class="pull-right">
				<label class="activar-pro">Activar programación: <input type="checkbox" name=""></label>
			</div>
		</div>		
		<div class="box-programacion">
			<div class="etiqueta-participante zone">
				<label class="label-etiqueta">
					<input type="checkbox" name="">Todos
				</label>
				<label class="label-etiqueta sponsor">
					<input type="checkbox" name="">Sponsor
				</label>
				<label class="label-etiqueta expositores">
					<input type="checkbox" name="">Expositores
				</label>
				<label class="label-etiqueta ejecutivo">
					<input type="checkbox" name="">Ejecutivo comercial
				</label>
				<label class="label-etiqueta seguridad">
					<input type="checkbox" name="">Seguridad
				</label>
				<label class="label-etiqueta usuario">
					<input type="checkbox" name="">Usuario
				</label>
			</div>
			<div class="row">
		  		<div class="col-sm-6">
		  			<div class="form-group">
		  				<label>Intervalo:</label>
		  				<div class="box-programacion">
							<div class="etiqueta-participante">
								<label class="label-etiqueta">
									<input type="radio" name="intervalo">Diario
								</label>
								<label class="label-etiqueta">
									<input type="radio" name="intervalo">Semanal
								</label>
								<label class="label-etiqueta">
									<input type="radio" name="intervalo">Mensual
								</label>
								<label class="label-etiqueta">
									<input type="radio" name="intervalo">Anual
								</label>								
							</div>
						</div>
		  			</div>
		  		</div>
		  		<div class="col-sm-6">
		  			<div class="form-group">
		  				<label>Horario:</label>
		  				<div class="form-table horario">
		  					<div class="item-table horario">
		  						<select name="" class="form-control">
									<option>00</option>
									<option>01</option>
									<option>02</option>
									<option>03</option>
								</select>
		  					</div>
		  					<div class="item-table line-h">-</div>
		  					<div class="item-table horario">
		  						<select name="" class="form-control">
									<option>00</option>
									<option>01</option>
									<option>02</option>
									<option>03</option>
								</select>
		  					</div>
		  				</div>
		  			</div>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col-sm-6">
		  			<div class="form-group">
		  				<label>Intervalo:</label>
		  				<div class="box-programacion">
							<div class="etiqueta-participante">
								<label class="label-etiqueta">
									<input type="checkbox" name="">Lunes
								</label>
								<label class="label-etiqueta">
									<input type="checkbox" name="">Martes
								</label>
								<label class="label-etiqueta">
									<input type="checkbox" name="">Miercoles
								</label>
								<label class="label-etiqueta">
									<input type="checkbox" name="">Jueves
								</label>
								<label class="label-etiqueta">
									<input type="checkbox" name="">Viernes
								</label>
								<label class="label-etiqueta">
									<input type="checkbox" name="">Sábado
								</label>
								<label class="label-etiqueta">
									<input type="checkbox" name="">Domingo
								</label>								
							</div>
						</div>
		  			</div>
		  		</div>
		  	</div>
		  	<div class="row">
		  		<div class="col-sm-3">
		  			<div class="form-group">
		  				<label>Comienza:</label>
		  				<input type="text" name="value" class="form-control" placeholder="dd / mm / aaaa">
		  			</div>
		  		</div>
		  		<div class="col-sm-3">
		  			<div class="form-group">
		  				<label>Termina:</label>
		  				<div class="inline-form">
		  					<div class="inline-form-item item01">
		  						<input type="radio" name="">
		  					</div>
		  					<div class="inline-form-item">
		  						<input type="text" name="value" class="form-control" placeholder="dd / mm / aaaa">
		  					</div>
		  				</div>		  				
		  				
		  			</div>
		  		</div>
		  	</div>
		</div>		
		<div class="accion-foot">
			<button id="" href="#" class="btn-volver" type="button">
				Volver al listado
			</button>
			<button type="submit" class="btn-cancelar">
				Cancelar
			</button>
			<button type="submit" class="btn-guardar">
				Guardar
			</button>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});

</script>